{include file="common/head"/}
<style>
.wqs-qrcode {
    padding: 15px;
}

.wqs-qrcode a {
    display: block;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    font-size: 16px;
    /*font-weight: bold;*/
    text-align: center;
    line-height: 40px;
    border: 1px solid #C9C9C9;
    background-color: #fff;
}

.wqs-qrcode a:hover {
    opacity: .8;
    border-color: #009688;
    color: #333;
}
</style>

<div class="layui-fluid"><div class="layui-card">

<div class="layui-card-body">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>资讯列表</legend>
    </fieldset>

    <div class="demoTable">
        <!-- <div class="layui-inline">
            <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">
        </div>
        <button class="layui-btn" id="search" data-type="reload">
            {:lang('search')}
        </button>
        <a href="{:url('index')}" class="layui-btn">显示全部</a> -->


        <!-- <button type="button" class="layui-btn layui-btn-danger" id="delAll">批量删除</button> -->

        <a href="{:url('add')}" class="layui-btn" style="float:right;"><i class="fa fa-plus" aria-hidden="true"></i>{:lang('add')}</a>

        <a href="{:url('index')}" class="layui-btn" style="float:right;margin-right:10px"><i class="fa fa-plus" aria-hidden="true"></i>刷新</a>
        <div style="clear: both;"></div>
    </div>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>
{include file="common/foot"/}


<script type="text/html" id="order">
    <input name="{{d.id}}" data-id="{{d.id}}" class="list_order layui-input" value=" {{d.sort}}" size="10" />
</script>

<script type="text/html" id="open">
    {{# if(d.open==1){ }}
    <a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="open">开启</a> 
    {{# }else{ }}
    <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="open">禁用</a> 
    {{# } }}
</script>

<script type="text/html" id="action">
    <a href="{:url('edit')}?id={{d.id}}" class="layui-btn layui-btn-sm">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
</script>
<script>
layui.use('table', function() {
    var table = layui.table, $ = layui.jquery;
    var tableIn = table.render({
        // id: 'ad',
        elem: '#list',
        url: '{:url("index")}',
        method: 'post',
        page: true,
        cols: [
            [
                // { checkbox: true, fixed: true },
                { field: 'id', title: '{:lang("id")}', width: 80,sort: true, fixed: true },
                { field: 'title_ch', align: 'left', title: '标题', width: 400 },
                // { field: 'content', align: 'left', title: '用户手机', width: 300 },
                { field: 'pub_time', title: '发布日期', width: 150, align: 'center'},
                // { field: 'sort', align: 'center', title: '{:lang("order")}', width: 80, templet: '#order' },
                // { field: 'open', align: 'center', title: '{:lang("status")}', width: 80, toolbar: '#open' },
                { width: 150, align: 'center', title: '操作', toolbar: '#action'}
            ]
        ],
        limit: 20
    });
    //搜索
    $('#search').on('click', function() {
        var key = $('#key').val();
        if ($.trim(key) === '') {
            layer.msg('{:lang("pleaseEnter")}关键字！', { icon: 0 });
            return;
        }
        tableIn.reload({
            where: { key: key }
        });
    });

    table.on('tool(list)', function(obj) {
        var data = obj.data;
        if (obj.event === 'open') {
            var loading = layer.load(1, { shade: [0.1, '#fff'] });
            $.post('{:url("status")}', { 'id': data.id }, function(res) {
                layer.close(loading);
                if (res.status === 1) {
                    tableIn.reload();
                } else {
                    layer.msg('操作失败！', { time: 1000, icon: 2 });
                    return false;
                }
            })
        } else if (obj.event === 'del') {
            layer.confirm('您确定要删除吗？', function(index) {
                var loading = layer.load(1, { shade: [0.1, '#fff'] });
                $.post("{:url('del')}", { id: data.id }, function(res) {
                    layer.close(loading);
                    if (res.code === 1) {
                        layer.msg(res.msg, { time: 1000, icon: 1 });
                        tableIn.reload();
                    } else {
                        layer.msg(res.msg, { time: 1000, icon: 2 });
                    }
                });
                layer.close(index);
            });
        } 
    });
    $('body').on('blur', '.list_order', function() {
        var id   = $(this).attr('data-id');
        var sort = $(this).val();
        var loading = layer.load(1, { shade: [0.1, '#fff'] });
        $.post('{:url("deptOrder")}', { id: id, sort: sort }, function(res) {
            layer.close(loading);
            if (res.code === 1) {
                layer.msg(res.msg, { time: 1000, icon: 1 });
                tableIn.reload();
            } else {
                layer.msg(res.msg, { time: 1000, icon: 2 });
            }
        })
    });

    $('#delAll').click(function() {
        layer.confirm('确认要删除所有选中项吗？', { icon: 3 }, function(index) {
            layer.close(index);
            var checkStatus = table.checkStatus('ad'); //test即为参数id设定的值
            var ids = [];
            $(checkStatus.data).each(function(i, o) {
                ids.push(o.id);
            });
            var loading = layer.load(1, { shade: [0.1, '#fff'] });
            $.post("{:url('delAll')}", { ids: ids }, function(data) {
                layer.close(loading);
                if (data.code === 1) {
                    layer.msg(data.msg, { time: 1000, icon: 1 });
                    tableIn.reload();
                } else {
                    layer.msg(data.msg, { time: 1000, icon: 2 });
                }
            });
        });
    });
})
</script>