{include file="common/head"/}
<div class="layui-fluid"><div class="layui-card">

<div class="layui-card-body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>系统配置</legend>
</fieldset> 
 
<table class="layui-table" >
    <colgroup>
        <col width="100">
        <col width="240">
        <col>
    </colgroup>
<thead>
    <tr>
        <th>服务器信息</th>
        <th style="border-left-width: 0px;"></th>
    </tr> 
</thead>
<tbody>
    <tr>
        <td>服务器域名</td>
        <td>{$config.http_host}</td>
    </tr>
    <tr>
        <td>服务器端口号</td>
        <td>{$config.server_port}</td>
    </tr>
    <tr>
        <td>服务器IP地址</td>
        <td>{$config.server_ip}</td>
    </tr>
    <tr>
        <td>服务器运行环境</td>
        <td>{$config.server_soft}</td>
    </tr>
    <tr>
        <td>服务器操作系统</td>
        <td>{$config.server_os}</td>
    </tr>
    <tr>
        <td>服务器当前时间</td>
        <td id="server_time">{$config.server_time|date='Y-m-d H:i:s', ###}</td>
    </tr>
    <tr>
        <td>PHP版本信息</td>
        <td>{$config.php_version}</td>
    </tr>
    <tr>
        <td>PHP运行方式</td>
        <td>{$config.php_sapi_name}</td>
    </tr>
    <tr>
        <td>MySQL版本信息</td>
        <td>{$config.mysql_version}</td>
    </tr>
    <tr>
        <td>最大上传文件大小</td>
        <td>{$config.max_upload_size}</td>
    </tr>
    <tr>
        <td>服务器脚本超时时间</td>
        <td>{$config.max_execution_time}s</td>
    </tr>
    <tr>
        <td>用户代理</td>
        <td>{$config.http_user_agent}</td>
    </tr>
    <tr>
        <td>文件所在位置</td>
        <td>{$config.document_root}</td>
    </tr>
    <tr>
        <td>&#28304;&#30721;&#26469;&#33258;</td>
        <td>&#20248;&#30721;&#32593;&#32;&#45;&#32;&#119;&#119;&#119;&#46;&#117;&#99;&#111;&#100;&#101;&#115;&#46;&#110;&#101;&#116;</td>
    </tr>
</tbody>
</table>

</div>
{include file="common/foot"/}
<script src="__HOME__/jsCss/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        var server_time = parseInt('{$config.server_time}');
        function dateFormat(cellValue) {
            if(cellValue == 0){
                return ''
            }
            var date = new Date(cellValue * 1000);
            var Y = date.getFullYear();
            var M = date.getMonth() + 1;
            M = M < 10 ? '0' + M : M;
            var D = date.getDate();
            D = D < 10 ? '0' + D : D;
            var H = date.getHours();
            H = H < 10 ? '0' + H : H;
            var m = date.getMinutes();
            m = m < 10 ? '0' + m : m;
            var s = date.getSeconds();
            s = s < 10 ? '0' + s : s;
            return Y + '-' + M + '-' + D + ' ' + H + ':' + m + ':' + s;
        }
        var t = setInterval(function(){
            server_time++;
            $('#server_time').html(dateFormat(server_time));
        },1000);
    });
</script>
