	{include file="public/header"}
	<style type="text/css">
	.openview_info p{text-transform: uppercase;}
	</style>
	<body class="wallet">
		<div id="app" class="smart">
			<div>
				<div class="header">
					<a href="{:url('my/index')}" class="icon-left">
						<img src="__INDEX__/images/left.png" alt="">
					</a>
					<h1>{$Think.lang.Language_number_1208}</h1> 
					<a href="{:url('openamount/openlist')}" class="icon-right">
						<img src="__INDEX__/images/jl.png" alt="">
					</a>
				</div>
				<div class="bit">
					<ul>
					{volist name="coinlist" id="vo"}
						<li class="flex-box bit_list">
							<div class="flex-list bittype"><span><img src="__INDEX__/images/{$vo['logo']}" alt=""></span>
							<span>{$vo['name']}</span></div>
							{if condition="$vo['open'] eq 1"}
							<div class="flex-list"><span class="off bitok">{$Think.lang.Language_number_1209}</span></div>
							{else/}
							<div class="flex-list"><span class="off bitok">{$Think.lang.Language_number_1210}</span></div>
							{/if}
							<div class="flex-list"><span class="btnokbtm" data='{:json_encode($vo)}'>{$Think.lang.Language_number_1211}</span></div>
							<div class="flex-list"><span class="btnnoup"  data='{:json_encode($vo)}'>{$Think.lang.Language_number_1212}</span></div>
						</li>
					{/volist}
					</ul>
				</div>
				<div class="openview" style="display: none;">
					<div class="setview">
						<div>
							<div class="openview_info">
								<h4>{$Think.lang.Language_number_1213}</h4>
								<p id="open_money">{$Think.lang.Language_number_1214}</p>
								<p id="able_money">{$Think.lang.Language_number_1215}</p>
							</div>
						</div>
						<div><input name="number" placeholder="{$Think.lang.Language_number_1216}" type="number"></div>
						<div><input name="bypass" placeholder="{$Think.lang.Language_number_1217}" type="password"></div>
						<input type="hidden" value="0" name="coinid" id="coinid">
						<div><button type="button" onclick="openmoney()">{$Think.lang.Language_number_1218}</button></div>
						<div class="hidebtn"><img src="__INDEX__/images/close.png" alt=""></div>
					</div>
				</div>
				<div class="openview" style="display: none;">
					<div class="setview locksetview">
						<div>
							<div class="openview_info">
								<h4>{$Think.lang.Language_number_1219}</h4>
								<p id="close_money">{$Think.lang.Language_number_1220}</p>
							</div>
						</div>
						<div><input name="close_number" value="" placeholder="{$Think.lang.Language_number_1221}" type="number"></div>
						<div><input name="close_bypass" value="" placeholder="{$Think.lang.Language_number_1222}" type="password"></div>
						<input type="hidden" id="close_coinid" name="close_coinid">
						<div><button type="button" onclick="closemoney()">{$Think.lang.Language_number_1223}</button></div>
						<div class="hidebtn"><img src="__INDEX__/images/close.png" alt=""></div>
					</div>
				</div>



				<!-- ff7575  -->
				<div class="openview" style="display: none;">
					<div class="setview locksetview" style="height: 10rem;top:55%;">
						<div style="background: #6376ff;">
							<div class="openview_info" style="background: #6376ff;">
								<h4 class="openview_infoptxt"></h4>
							</div>
						</div>
						<div><button type="button" onclick="closemoneyyes()" style="width:40%;">{$Think.lang.Language_number_1223}</button>
						<button type="button" class="hidebtn2" style="background: #c5c5c5 !important;width:40%;">{$Think.lang.Language_number_1199}</button></div>
						<div class="hidebtn"><img src="__INDEX__/images/close.png" alt=""></div>
					</div>
				</div>






				
			</div>
		</div>
		<script>
			$(".btnokbtm").click(function(){
				var data = $(this).attr('data');
				var data_arr = JSON.parse(data);
				$("#open_money").html('{$Think.lang.Language_number_1224}'+data_arr.name+' '+data_arr.openmoney);
				$("#able_money").html('{$Think.lang.Language_number_1225}'+data_arr.name+' '+data_arr.able_money);
				$("#coinid").val(data_arr.id);
				$(".openview").eq(0).show();
			})
			$(".btnnoup").click(function(){
				var data = $(this).attr('data');
				var data_arr = JSON.parse(data);
				$("#close_money").html('{$Think.lang.Language_number_1226}'+data_arr.name+' '+data_arr.openmoney);
				$("#close_coinid").val(data_arr.id);
				$(".openview").eq(1).show()
			});
			$(".hidebtn").click(function(){
				$(".openview").hide();
			})
			$(".hidebtn2").click(function(){
				$(".openview").hide();
			})
			//开启提交
			function openmoney(){
				var number = $("input[name='number']").val();
				var bypass = $("input[name='bypass']").val();
				var coinid = $("#coinid").val();
				$.post('{:url("openamount/openmoney")}', {'number':number,'bypass':bypass,'coinid':coinid}, function(res){
		        	if(res.code){
		        	  $(".openview").hide();
		        	  alert(res.msg);
		              window.location=res.url
		          }else{
		              if(res.msg=="psignnone"){
						alert("{$Think.lang.Language_number_1432}");
						setTimeout(function(){
							location.href="/index/index/pinfosign.html";
						}, 1500);
					  }else{
						alert(res.msg);
					  }
		          }
		        },'json');
			}
			//关闭提交
			function closemoney2222(){
				var number = $("input[name='close_number']").val();
				var bypass = $("input[name='close_bypass']").val();
				var coinid = $("#close_coinid").val();
				$.post('{:url("openamount/closemoney")}', {'number':number,'bypass':bypass,'coinid':coinid}, function(res){
		        	if(res.code){
		        	  $(".openview").hide();
		        	  alert(res.msg);
		              window.location=res.url
		          }else{
		              alert(res.msg);
		          }
		        },'json');
			}
			
			var numberccp = "";
			var bypassccp = "";
			var coinidccp = "";
			
			
			function closemoney(){
				numberccp = $("input[name='close_number']").val();
				bypassccp = $("input[name='close_bypass']").val();
				coinidccp = $("#close_coinid").val();
				
				$.post('{:url("openamount/getopenview_infoptxt")}', {'coinid':coinidccp}, function(res){
					$(".openview_infoptxt").html(res.msg);
					$(".openview").eq(2).show();
		        },'json');
			}
			
			function closemoneyyes(){
				closemoneyyorn(numberccp,bypassccp,coinidccp);
			}
			function closemoneyyorn(number,bypass,coinid){
				$.post('{:url("openamount/closemoney")}', {'number':number,'bypass':bypass,'coinid':coinid}, function(res){
		        	if(res.code){
		        	  $(".openview").hide();
		        	  alert(res.msg);
		              window.location=res.url
		          }else{
		              alert(res.msg);
		          }
		        },'json');
			}
			
			
			$(".size").css("font-size", $("body").width() * 0.0625 + "px")
		</script>
	</body>
</html>