	{include file="public/header"}
	<link rel="stylesheet" href="__STATIC__/src/css/dialog.css" />
	<body class="out">
		<div id="app">
			<div>
				<div class="header headerw">
					<a href="{:url('wallet/current', ['id'=>input('param.id')])}" class="icon-left">
						<img src="__INDEX__/images/left.png" alt="">
					</a>
					<h1>{$name|strtoupper}{$Think.lang.Language_number_1389}</h1> 
					<a href="javascript:;" class="icon-right"><img src="__INDEX__/images/sys.png" alt=""></a>
				</div>
				<div>
					<div class="ipt_box ipt_1">
						<input name="encrypt" placeholder="{$Think.lang.Language_number_1390}" type="text">
					</div>
					<div class="ipt_box ipt_2">
						<input name="num" placeholder="{$Think.lang.Language_number_1391}" type="number">
					</div>
					<p class="balance">{$Think.lang.Language_number_1392}{$num|sprintf4} {$name|strtoupper}</p>
					<div class="charge">
						<div>
							<p>{$Think.lang.Language_number_1393}</p>
							<p class="chargesize">{$fee}</p>
						</div>
						<div>{$name|strtoupper}</div>
					</div>
					<div class="ipt_box ipt_box_la">
						<input name="trade_pwd" placeholder="{$Think.lang.Language_number_1394}" type="password">
					</div>
					<div class="subbtn outbtn">
						<button type="button">{$Think.lang.Language_number_1395}</button>
					</div>
				</div>
				
			</div>
		</div>
		<script src="__STATIC__/src/lib/zepto.min.js"></script>
	    <script src="__STATIC__/src/js/dialog.js"></script>
		<script>
			$(".size").css("font-size", $("body").width() * 0.0625 + "px")
			$('button').click(function(){
				var encrypt = $("input[name=encrypt]").val();
				if (!encrypt) {
					checkMsg('{$Think.lang.Language_number_1396}');
					return false;
				}
				var num = $("input[name=num]").val();
				if (!num) {
					checkMsg('{$Think.lang.Language_number_1397}');
					return false;
				}
				var trade_pwd = $("input[name=trade_pwd]").val();
				if (!trade_pwd) {
					checkMsg('{$Think.lang.Language_number_1398}');
					return false;
				}
				var id = '{$id}';
				$.post('{:url("out")}', {id:id,encrypt:encrypt,num:num,trade_pwd:trade_pwd}, function(res){
					if (res.code == 1) {
						$(document).dialog({
		        			type : 'toast',
					        infoIcon: '__STATIC__/src/images/icon/loading.gif',
					        infoText: res.msg,
					        autoClose: 1000,
					        onClosed: function(){
				    			location.href = res.url;
					        },
					    });
					} else {
						checkMsg(res.msg);
					}
				});


			});

			function checkMsg(msg) {
		      	$(document).dialog({
			        type : 'toast',
			        infoIcon: '__STATIC__/src/images/icon/loading.gif',
			        infoText: msg,
			        autoClose: 1500
			    });
		    }
		</script>


	</body>
</html>
