	{include file="public/header"}
	<link rel="stylesheet" href="__STATIC__/src/css/dialog.css" />
	<body class="wallet">
		<div id="app" class="smart">
			<div>
				<div class="header">
					<a href="{:url('index')}" class="icon-left">
						<img src="__INDEX__/images/left.png" alt="">
					</a>
					<h1>{$Think.lang.Language_number_1180}</h1> 
					<a href="{:url('bitinfo')}" class="icon-right">
						<img src="__INDEX__/images/jl.png" alt="">
					</a>
				</div>
				<div class="bit">
					<ul>
						{volist name="$lists" id="vo"}
						<li class="flex-box bit_list">
							<div class="flex-list bittype">
								<span><img src="__INDEX__/images/{$vo.logo}" alt=""></span> 
								<span style="font-size:12px;">{$vo.name|strtoupper}</span>
							</div>
							<div class="flex-list">
								<span class="off bitok">
								{eq name="$vo.open" value="1"}{$Think.lang.Language_number_1181}{else}{$Think.lang.Language_number_1182}{/eq}
								</span>
							</div>
							<div class="flex-list"><span attr-id="{$vo.id}" class="btnokbtm">{$Think.lang.Language_number_1183}</span></div>
							<div class="flex-list"><span class="btnnoup">{$Think.lang.Language_number_1184}</span></div>
						</li>
						{/volist}
					</ul>
				</div>
				<div class="openview" style="display: none;">
					<div class="setview">
						<div>
							<div class="openview_info">
								<h4>{$Think.lang.Language_number_1185}</h4>
								<p>{$Think.lang.Language_number_1186}</p>
								<p>{$Think.lang.Language_number_1187}</p>
							</div>
						</div>
						<div><input name="number" value="" placeholder="{$Think.lang.Language_number_1188}" type="text"></div>
						<div><input name="bypass1" value="" placeholder="{$Think.lang.Language_number_1189}" type="password"></div>
						<div><button type="button" attr-id="" id="btn1">{$Think.lang.Language_number_1190}</button></div>
						<div class="hidebtn"><img src="__INDEX__/images/close.png"
							 alt=""></div>
					</div>
				</div>
				<div class="openview" style="display: none;">
					<div class="setview locksetview">
						<div>
							<div class="openview_info">
								<h4>{$Think.lang.Language_number_1191}</h4>
								<p>{$Think.lang.Language_number_1192}</p>
							</div>
						</div>
						<div><input name="" value="" placeholder="{$Think.lang.Language_number_1193}" type="text"></div>
						<div><input name="" value="" placeholder="{$Think.lang.Language_number_1194}" type="password"></div>
						<div><button type="button" id="btn2">{$Think.lang.Language_number_1195}</button></div>
						<div class="hidebtn"><img src="__INDEX__/images/close.png"
							 alt=""></div>
					</div>
				</div>
				<!-- 只有DOGE转出有这个提示 -->
				<div class="openview" style="display: none;">
					<div>
						<div class="confirmview">
							<h4>{$Think.lang.Language_number_1196}</h4>
							<p>{$Think.lang.Language_number_1197}</p>
							<div><button type="button">{$Think.lang.Language_number_1198}</button> <button type="button">{$Think.lang.Language_number_1199}</button></div>
						</div>
					</div>
				</div>
				 
				
			</div>
		</div>
		<script src="__STATIC__/src/lib/zepto.min.js"></script>
	    <script src="__STATIC__/src/js/dialog.js"></script>
		<script>
			$('#btn1').click(function(){
				// $(".openview").hide();
				// $(".openview").eq(1).show();
				var number = $("input[name=number]").val();
				if (number == "") {
		            checkMsg('{$Think.lang.Language_number_1200}');
		            return false;
		        }
		        var bypass = $("input[name=bypass1]").val();
				if (bypass == "") {
		            checkMsg('{$Think.lang.Language_number_1201}');
		            return false;
		        }
		        var coinid = $(this).attr('attr-id');
		        $.post('{:url("openmoney")}', {number:number,bypass:bypass,coinid:coinid}, function(res){
		        	if (res.code == 1) {
		        		$(document).dialog({
		        			type : 'toast',
					        infoIcon: '__STATIC__/src/images/icon/loading.gif',
					        infoText: res.msg,
					        autoClose: 1000,
					        onClosed: function(){
				    			location.href = res.url;
					        },
					    });
		        	} else {
		        		checkMsg(res.msg);
		        	}
		        });
			});




			$(".btnokbtm").click(function(){
				$(".openview").eq(0).show();
				var id = $(this).attr('attr-id');
				$('#btn1').attr('attr-id', id);

			})
			$(".btnnoup").click(function(){
				$(".openview").eq(1).show()
			})

			$(".confirmview button").eq(1).click(function(){
				$(".openview").hide()
			})
			$(".hidebtn").click(function(){
				$(".openview").hide()
			})

			function checkMsg(msg) {
		      	$(document).dialog({
			        type : 'toast',
			        infoIcon: '__STATIC__/src/images/icon/loading.gif',
			        infoText: msg,
			        autoClose: 1500
			    });
		    }
			
			$(".size").css("font-size", $("body").width() * 0.0625 + "px")
		</script>
	</body>
</html>