	{include file="public/header"}
	<body class="wallet">
		<div>
			<div class="header headerw">
				<a href="{:url('about')}" class="icon-left">
					<img src="__INDEX__/images/left.png" alt="">
				</a>
				<h1>{$Think.lang.Language_number_1238}</h1>
			</div>
			<div class="Useagreement">
				<h2>{$Think.lang.Language_number_1239}</h2>
				<ul>
					{$Think.lang.Language_number_1240}
				</ul>
			</div>
		</div>
		<script>
			$(".size").css("font-size", $("body").width() * 0.0625 + "px")
		</script>
	</body>
</html>