	{include file="public/header"}
	<body class="wallet">
		<div id="app">
			<div>
				<div class="earnings">
					<div class="header headerw">
						<a href="{:url('security')}" class="icon-left">
							<img src="__INDEX__/images/left.png" alt="">
						</a>
						<h1>{$Think.lang.Language_number_1275}</h1>
					</div>
				</div>
				<div class="from_box">
					<form>
						<div class="from_wrop"><label for="former">{$Think.lang.Language_number_1276}</label> <input
							 name="" id="former" value="" placeholder="{$Think.lang.Language_number_1277}" type="password"></div>
						<div class="from_wrop"><label for="new">{$Think.lang.Language_number_1278}</label> <input
							 name="" id="new" value="" placeholder="{$Think.lang.Language_number_1279}" type="password"></div>
						<div class="from_wrop"><label for="townew">{$Think.lang.Language_number_1280}</label> <input
							 name="" id="townew" value="" placeholder="{$Think.lang.Language_number_1281}" type="password"></div>
						<div class="from_text">
							<p>{$Think.lang.Language_number_1282}</p>
						</div>
						<div class="subbtn"><button type="button">{$Think.lang.Language_number_1283}</button></div>
					</form>
				</div>
				 
			</div>
		</div>
		<script>
			$(".size").css("font-size", $("body").width() * 0.0625 + "px")
		</script>


	</body>
</html>