	{include file="public/header"}
	<link rel="stylesheet" href="__STATIC__/src/css/dialog.css" />
	<body class="out">
		<div id="app">
			<div>
				<div class="header headerw">
					<!--
					<a href="{:url('change/index')}" class="icon-left">
						<img src="__INDEX__/images/left.png" alt="">
					</a>
					-->
					<a href="javascript:history.go(-1);" class="icon-left">
						<img src="__INDEX__/images/left.png" alt="">
					</a>
					<h1>{$coinname|strtoupper}{$Think.lang.Language_number_1146}</h1> 
					<a href="javascript:;" class="icon-right"><img src="__INDEX__/images/sys.png" alt=""></a>
				</div>
				<div>
					<div class="ipt_box ipt_1">
						<input value="{$address}" placeholder="{$Think.lang.Language_number_1147}" disabled="disabled" type="text">
					</div>
					<div class="ipt_box ipt_2">
						<input name="num" placeholder="{$Think.lang.Language_number_1148}" type="number">
					</div>
					<p class="balance">{$Think.lang.Language_number_1149}{$coinname|strtoupper} {$money}</p>
					<div class="ipt_box ipt_box_la">
						<input name="bypass" placeholder="{$Think.lang.Language_number_1150}" type="password">
					</div>
					<div class="subbtn outbtn">
					    <input type="hidden" value="{$coinid}" name="coinid">
						<button class="sbtn" type="button">{$Think.lang.Language_number_1151}</button>
					</div>
					
						
					<!--
					<div class="subbtn outbtn">
						<a href="/index/change/addwetall/coinid/{$coinid}.html">
							<button style="position: fixed;left: 5%;bottom: 30px;background: #8eb0de;color: #fff;" type="button">{$Think.lang.Language_number_1440}</button>
						</a>
					</div>
					-->
					
				</div>
				
			</div>
		</div>
		<script src="__STATIC__/src/lib/zepto.min.js"></script>
	    <script src="__STATIC__/src/js/dialog.js"></script>
		<script>
			$(".size").css("font-size", $("body").width() * 0.0625 + "px")
			$('.sbtn').click(function(){
				var num = $("input[name=num]").val();
				if (!num) {
					checkMsg('{$Think.lang.Language_number_1152}');
					return false;
				}
				var bypass = $("input[name=bypass]").val();
				if (!bypass) {
					checkMsg('{$Think.lang.Language_number_1153}');
					return false;
				}
				var coinid = $("input[name=coinid]").val();
				$.post('{:url("tibi")}', {'coinid':coinid,'num':num,'bypass':bypass}, function(res){
					if (res.code == 1) {
						$(document).dialog({
		        			type : 'toast',
					        infoIcon: '__STATIC__/src/images/icon/loading.gif',
					        infoText: res.msg,
					        autoClose: 1000,
					        onClosed: function(){
				    			location.href = res.url;
					        },
					    });
					} else {
						checkMsg(res.msg);
					}
				});


			});

			function checkMsg(msg) {
		      	$(document).dialog({
			        type : 'toast',
			        infoIcon: '__STATIC__/src/images/icon/loading.gif',
			        infoText: msg,
			        autoClose: 1500
			    });
		    }
			
			
			
			{if condition="$addressn eq 1"}
						
				checkMsg("{$Think.lang.Language_number_1441}");
				setTimeout(function(){
					location.href = '/index/change/addwetall/coinid/{$coinid}.html';
				},3000);
				
			{/if}
		</script>


	</body>
</html>
